/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

body{background-color: 	white}
.myimage{width:  10px;}

.popup-box {
   display: none;
   position: absolute;
   font-size: 12px;
   width: 300px;
   overflow: hidden;
   text-align: center;
   line-height: 24px;
   background-color: lightgreen;
   box-shadow: 0 0 15px #666;
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 30px;
}

li{list-style-type: 	none;}

.header {
   grid-area: header;
   	background-color: 	lightblue;
   	display: flex;
  height:50px;
   font-size: 0.8em;
}

.dashboard-title{
        display: flex;
 align-items: center;

      }

.navigation{
     grid-area: navigation;
     background-color: 	navy;
     display: flex;

}
.main-header{
  grid-area: main;
}


.widget-container-full, .widget-container-half {
		width: 95vw;
}

/* =-=-=-=-=-=-=-=-=-= STYLES -=-=-=-=-=-=-=-=-=-=-=-= */

h1{
	color: 	#fff;
	padding-left: 	12px
}
.headline{display: none;}
.firstpart{

	font-weight: 800;}

.secondpart{
font-weight: 100;
}

.bell-control{
	display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: center;
   width: 90%;
}

#notifications{
	display: none;
	
}

.alert-icon-bell {
   font-size: 1.5em;
   transform-origin: 50% 50%;
   transition: transform 0.3s ease-out;
   height: 1em;
   width: 30px;
   margin-right: 0px;
   margin-top: 6px;
}


.msg-dot {
   font-size: 0.5em;
   color: #7477bf;
    transition: transform 0.3s ease-out;
   background-color: #81c98f;
   border-radius: 50%;
   height: 8px;
   width: 8px;
   text-align: center;
   margin-left: -10px;
   margin-top: -10px;
}
.alert-icon-bell:hover {
   transform: rotate(45deg) scale(2,2);
}

.myimage {
   height: 2em;
   width: 2em;
   border-radius: 50%;
   margin-right: 10px;
}

.user-name {
  display: 	none;
   width: 30px;
   padding-right: 0px;
}


.vertical {
   width: 0px;
   height: 2em;
   margin-right: 12px;
   margin-left: 12px;
}


/* =-=-=-=-=-=-=-=-=-= NAV -=-=-=-=-=-=-=-=-=-=-=-= */
#dashboard,
#members,
#visits,
#settings {
       display: flex;
    flex-direction: row;
    height: 24px;
    width: 100%;
    min-width: 24px;
    min-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 8px auto 8px auto;
    opacity: 0.8;
}

.alert-banner{
	display:flex;
	justify-content: space-between;	
	flex-direction: row;
	flex-wrap: 	nowrap;
	text-align: center;	
	 padding-right: 12px;
   padding-left: 12px;
}
.alert-banner{
   font-size: 0.9em;
   font-weight: bold;
    color: #ffffff;
   background-color: #7377bf;
   border-radius: 5px;
   	margin:55px 18px;

}
.alert-banner p{
  font-size: 1.2em;
text-align: left;
}
.alert-banner-close{
	 font-size: 1.3em;
	margin-top:15px;
	 padding-bottom: 5px;

}

#notifications ul{
      margin-top: 22px;
      margin-left: -90px;
      z-index: 2;
      height: 5em;
      width:20%;
      position:absolute;
      border: 1px solid #dbdbdb;
          box-shadow: 3px 15px 15px #666;
          background-color: navy;
              border-radius:5px;
    box-shadow: 3px 15px 15px #666;
   }

   #notifications ul li a{
   
          color:white;
      padding-top: 16px;
      padding-bottom: 8px;
      margin:auto;
      margin-top: 5px;

   }

   #notifications ul li { font-size: 1em;
    width: 255px;
    padding-top: 4px;
    padding-bottom: 4px;}
/*MAIN*/


.tab-wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;

}

.main-header-search{
	display:flex;
	flex-direction: row-reverse;	
	width: 70%;
	background-color: lightgrey;
	border-bottom: 1px solid #b2b1b2;
	margin: 15px;
	height: 3em;


}
#searchbox{
 width: 50vw;
 height: 4vh;
 outline: none;
   padding-left: 12px;
   border: 1px solid #dbdbdb;
   border-radius: 5px;
   margin-top: 4px;
   z-index: 1;


}
.headline{
	margin:auto;
}



/*CHART*/
.widget-container-full{
  width:90%;
}
.traffic-nav{display: flex;}
.daily,.mobile{

    border: 1px solid #d8d8d7;
    padding:15px;}

.traffic-nav{
      display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 4px;
    list-style-type: none;
}
.traffic-nav li {
   font-size: 0.75em;
   font-weight: bold;
   letter-spacing: 1.3px;
   color: #fff;
   cursor: pointer;
   outline: none;
   background-color: #81c98f;
   padding: 5px 10px 5px 10px;
   border-radius: 25px;
   margin-right: 10px;
   margin-bottom: 25px;
}
#daily-chart,#mobile-chart {
  margin-left:-15px ;
}

/*SOCIAL*/

.social-container{
	 
   display: grid;
   grid-auto-columns: 1fr 1fr 1fr;
   grid-template-areas:
      "stats stats stats"
      "social-left social-center social-right";
   grid-gap: 13px;
   font-weight: bold;
   color: #7377bf;
   padding-bottom: 1.2em;
   padding-left: 10px;
   border: 1px solid #d8d8d7;
  
}

.stats { grid-area: stats;
   color: #666;
   margin-top: 0.6em;
}


.social-left{
	grid-area: social-left;
	 margin-left: 0.2em;
}

.social-center{grid-area:social-center;

}
.social-right{grid-area:social-right;
margin-right: 0.2em;}



.social-left,
.social-center,
.social-right {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto;
   grid-template-areas:
      "icon media media"
      "icon followers followers";
   background-color: #fbfbfb;
   border: 1px solid #d1d1d1;
}

#FacebookIcon,#GooglePlusIcon,#TwitterIcon {
   grid-area: icon;
   width: 30px;
   height: 30px;
   fill: white;
   background-color: #7377bf;
   border-radius: 50%;
   padding: 3px;
   margin: 4px;
}


.social-media {
   grid-area: media;
   font-size: 0.6em;
   margin-top: 9px;
   margin-left: 3px;
   font-weight: 800;
}


.followers {
   grid-area: followers;
  	
   font-weight: 600;
   color: #666;
   margin-top: -8px;
   margin-left: 3px;
}



/*MEMBERS*/
.members, .recent-activity-container{
	display: grid;

    border: 1px solid #d8d8d7;
    padding:15px;
}

 .member-card {
   display: grid;
   grid-template-columns: 15px 75% 5%;
   grid-template-areas:
      "img name date"
      "img email date";

   margin-bottom: 2px;
   position: relative;
}

.profile-image,.comment-image{
   grid-area: img;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   margin: auto 0 auto 10px;
}

.member-name{
   grid-area: name;
   font-size: 0.7em;
   text-transform: capitalize;
   padding: 10px 0 0 30px;
}
.member-email{grid-area: email;
  font-size: 0.6em;
    padding: 0 0 10px 30px;
  }
.member-date{grid-area: date;   
     font-size: 0.8em;
    margin: auto -7px auto -20px;}



 .activity-card {
   display: grid;
   grid-template-columns: 15px 75% 5%;
   grid-template-areas:
      "img comment follow"
      "img time follow";

   margin-bottom: 2px;
   position: relative;
}
.member-comment{
   grid-area: comment;
   font-size: 0.7em;
   padding: 10px 0 0 30px;
}
.hours-ago{grid-area: time;
 margin-left: 25px;
font-size: 0.5em;}



.follow-link{
   grid-area: follow;
 margin-left: 25px;
   font-size: 2em;
   padding-top: 0;
   padding-bottom: 0;
  
}

.horizontal{
	  display: block;
  margin-left: 15px;
  width: 80%;
  border-top: 0.1px solid rgb(228, 228, 228);
}

/*WIDGET*/
.widget-container{
	display: flex;
	flex-direction: column;
	
}




.message,.settings{
  
    border: 1px solid #d8d8d7;
    padding:15px;
}

#userField{
	height: 2vh;
		width:50vw;
	}
  #messageField{
    border: 1px solid #b2b1b2;
  }
#userField,#messageField,#send{
  
	padding:10px;
	margin:10px;

}
#send{height: 6vh;background-color: #6e4caf; color:white;}

.settings{display: flex;
flex-direction: column;

padding-left: 5px;}

#save,#cancel{
   color:white;background-color: #6e4caf;
	padding: 3px;
	height:5vh;
	width: 45%;
	margin-top: 20px;
	margin-bottom: 	15px;
	 }

/* The switch - the box around the slider */
.switch-wrapper{
      margin-bottom: 15px;
}
.email-toggle,.profile-toggle{

  display:  flex;
  flex-direction:   row;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 50px;

}
.toggle{
  padding:10px;
  margin:auto;
      margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*   =========   MEDIA QUERY

TABLET
==================
===================================*/



@media (min-width: 768px) {
          .headline{display: block}

    			.widget-container-full {
    			width: 90vw;
    			}
  			.widget-container-half { width: 45vw;

  			}
    
       /* =-=-=-=-=-=-=-=-=-= NAV -=-=-=-=-=-=-=-=-=-=-=-= */
		          .navigation {
            display: block;
         }
             #searchbox{
                 margin-right: 15px;
                  width: 40vw;
                      margin-right: 50px;
         }
     
      				#dashboard,
      				#members,
      				#visits,
      				#settings {
      				   display: flex;
      				   flex-direction: column;
      				   height: calc(50% / 4 - 110px);
      				  
      				   min-width: 20px;
      				   min-height: 20px;
      				   padding-left: 4px;
      				   padding-right: 22px;
      				   margin: 8px auto 8px 3px;
      				   opacity: 0.9;
      				}




						.user-name {display:block}

    				   #alert{
    						   	display: block;
    				      width: 95%;
    				      line-height: 28px;
    				      padding-top: 0;
    				      margin-top: 0;
    				   }
    				   .alert-banner{
    				   	
    				   	margin:5px;
               }
                .alert-banner-close{
                  margin-top:0;
                }

      				  .traffic-header{
                  display:flex;
                  flex-direction: row;
                  justify-content:space-between;
                }

                .traffic-nav{
                  display:  flex;
                      justify-content: flex-end;
                  flex-wrap: nowrap;
                  align-items: center;
                  margin-right:30px;
                }
           .container-for-members{
                     display:  flex;
                   flex-wrap: nowrap;
                  align-items: center;
                      
           }
           .members,.recent-activity-container{
            width: 50%;
           }
                  
                 .input-part{
                    display:  flex;
                   flex-wrap: nowrap;
                                  }

              .message, .settings{width:50%;
              }
              #userField,#messageField{width:95%
              }

              #timezone{width: 85%
              }
              .members,.recent-activity-container{
                border:0;
              }
              .members{border-right:  1px solid #dbdbdb;}

              .social-media{
                font-size:1em;
                padding-bottom: 5px;
              }
              .followers{
                font-size:2em;
              }
}






/*   =========   MEDIA QUERY

DESKTOP
==================
===================================*/


@media (min-width: 1200px) {
        html{
          width: 100%;
        }
        #searchbox{
          margin-top:0;
          width: 40vw;
          height:35px;
          margin-right: 18px;
                 }
                 .traffic-header{
                  margin-top: 10px;
                  margin-left: 5px;
                 }
                
                 .daily,.mobile{
                  border:0;
                 }
                 .daily{
                  border-right:1px solid #d8d8d7;
                 }
                 .activity-header{
                  padding-bottom:10px;
                 }
                 .settings{
                  padding-left: 10px;
                 }
                 #timezone{
                  margin-left: 14px;
                 }

                 .member-card {
                    display: grid;
                    grid-template-columns: 18px 1fr;}

                    .member-date{
                      margin-right: 20px;
                    }

                    .members-container .horizontal{
                      width: 95%;
                    }
                    .follow-link{
                      margin-left:40px;
                      font-size: 1.3em;
                    }
                    .msg-dot{
                      width: 20px;
                      height:20px;
                      font-size:1em;
                    }

                    #GooglePlusIcon,#FacebookIcon,#TwitterIcon{
                          width: 72px;
                        height: 72px;
                        padding: 15px;
                        margin: 15px;
                    }
}